.ItemDetail{
    display: flex;
    justify-content: space-between;
}

.ItemDetail img{
    height: 75vh;
    margin-top: 10%;
    margin-left: 15%;
    border: 1px solid rgb(197, 197, 197);
}

.nombreProducto{
    margin-bottom: 5%;
}

.details{
    margin-top: 120px;
    margin-right: 220px;
}

.counter{
    margin-top: 5%;
}

.precio{
    margin-top: 10px;
}